
/* header */

body {
  margin:0;
}

header {
  padding: 16px 0 24px 0;
  
  background: skyblue;
  color: white;
}

.header1 {
  text-align: center;
}

.header1 h1 {
  font-size: 48px;
}

.header1 a {
  font-size: 20px;
}

/* section */

.point {
  margin:0 0;
  width: 620px;
  position: relative;
}


.pointmenu img {
  width:620px;
  height:550px;
  z-index: -10;
 margin:0;
}

.pointd {
  font-size: 22px;
  line-height: 20px;
  display:inline-block;
  background: skyblue;
  border-radius: 30px;
  z-index: 1;
  padding: 35px 20px;
  position: absolute;
  top:80px;
  left:10px;
}

.hcol{
  color : yellow;
}

/* main */

.chikin{
  margin:30px auto 0 auto;
  width:550px;
}

section img {
  width:100%;
  height:auto;
}

.op {
  opacity: .5;
}

.srash {
  text-decoration: line-through;
}

.kbutton {
  font-size:11px;
  text-decoration: none;
  background: blue;
  color: white;
  padding:15px 63px;
  border-radius: 10px;
}

.nedan {
  color:red;
  font-size: 24px;
}



